# Container registry
REGISTRY=quay.io/matrix-workshop
TAG=latest

# Image override (single container)
# IMAGE=quay.io/matrix-workshop/harden-the-box:latest

# Helm deploy
RELEASE=harden-the-box
NAMESPACE=workshop-content
